body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    vertical-align: middle;
    text-transform: uppercase;  
    color: #4d5ae5;
}

.logo-primary {
    color: #2e2f42;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    color: #2E2F42;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #434455;
    margin-bottom: 0.4px;
}

.button { 
    cursor: pointer;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.48px;
}

/* У першому пункті списку у посилання в класі заданий стиль color зі значенням #2e2f42 для визначення кольору тексту 
У першому пункті списку,при ховері,у посилання,в класі заданий стиль color: #404bbf для зміни кольору шрифту при наведені мишкою 
У першому пункті списку, при фокусі, у посилання в класі заданий стиль color: #404bbf для зміни кольору шрифту при кліку на посилання */


.menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2e2f42;
    text-decoration: none;
}
.menu-link:hover,
.menu-link:focus {
    color: #2e2f42;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-primary {
    color: #2e2f42;
}
.contact-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
    text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}

address.contact-info {
    font-style: normal;
}